:root {
  --fondaleBianco: #f5f5f5;
  --fondaleNero: black;
  --grigio: grey;
  --grigino: rgb(161, 161, 161);
  --dettaglioBianco: #e0e0e0;

  --testo: var(var(--fondaleNero));
  --dettaglio: var(--grigio);
  --fondale: var(--fondaleBianco);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fondale);
}

canvas{
  position: absolute;
  z-index: 0;
}

button {
  width: 4rem;
  font-size: xx-large;
  background-color: transparent;
  border: solid var(--dettaglio) 2px;
  border-radius: 10px;
  color: var(--testo);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  user-select: none;
}

button:active {
  background-color: var(--dettaglio);
}

button:hover {
  box-shadow: 0 0 0.5rem var(--grigino);
}

#addCubeButton {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 9999;
}

#addSphereButton {
  position: absolute;
  top: 10rem;
  right: 1rem;
  z-index: 9999;
}

#addSpeakerButton {
  position: absolute;
  top: 15rem;
  right: 1rem;
  z-index: 9999;
}

#addHaloButton {
  position: absolute;
  top: 20rem;
  right: 1rem;
  z-index: 9999;
}

#addCadFileButton {
  position: absolute;
  top: 25rem;
  right: 1rem;
  z-index: 9999;
}

#visualizzazione {
  /* width: 2rem; */
  /* max-width: 4rem; */
  width: 5rem;
  text-align: center;
  /* font-size: large; */
  background-color: transparent;
  border: solid var(--dettaglio) 2px;
  border-radius: 10px;
  color: var(--dettaglio);
  padding: 0.5rem 1rem;

  position: absolute;
  pointer-events: none;

  bottom: 1rem;
  left: 44.8%;
  z-index: 999;
  user-select: none;

  transition: all 0.25s ease;
}

#infoDiv {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: transparent;
  color: var(--testo);
  pointer-events: none;
  user-select: none;
  z-index: 999;
}

#infoDiv-2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: transparent;
  color: var(--dettaglio);
  pointer-events: none;
  user-select: none;
  z-index: 999;
}

#helper {
  background-color: transparent;
  border: solid var(--dettaglio) 2px;
  border-radius: 10px;
  color: var(--dettaglio);
  padding: 0.5rem 1rem;

  position: absolute;
  bottom: 1rem;
  right: 1rem;

  transition: all 0.25s ease;
}

#helperCard {
  background-color: var(--fondale);
  border: solid var(--dettaglio) 2px;
  border-radius: 10px;
  color: var(--dettaglio);
  padding: 0.5rem 1rem;
  opacity: 0;
  font-size: large;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 23vh;
  width: 42vw;
  overflow: scroll;
  pointer-events: none;

  transition: all 0.25s ease;
}

/* Qui il contenuto diventa visibile quando l'hover è sul #helper */
#helper:hover #helperCard {
  opacity: 1;
}