body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

canvas{
  position: absolute;
  z-index: 0;
}

button {
  width: 4rem;
  font-size: xx-large;
  background-color: transparent;
  border: solid rgb(213, 217, 220) 2px;
  border-radius: 2px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  user-select: none;
}

button:active {
  background-color: rgb(255, 255, 255);
}

button:hover {
  box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.8);
}

#addCubeButton {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 9999;
}

#addSphereButton {
  position: absolute;
  top: 10rem;
  right: 1rem;
  z-index: 9999;
}

#addSpeakerButton {
  position: absolute;
  top: 15rem;
  right: 1rem;
  z-index: 9999;
}

#addHaloButton {
  position: absolute;
  top: 20rem;
  right: 1rem;
  z-index: 9999;
}

#addCadFileButton {
  position: absolute;
  top: 25rem;
  right: 1rem;
  z-index: 9999;
}

#visualizzazione {
  /* width: 2rem; */
  /* max-width: 4rem; */
  width: 5rem;
  text-align: center;
  /* font-size: large; */
  background-color: transparent;
  border: solid rgba(213, 217, 220, 0.342) 2px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.342);
  padding: 0.5rem 1rem;

  position: absolute;
  pointer-events: none;

  bottom: 1rem;
  left: 44.8%;
  z-index: 999;
  user-select: none;

  transition: all 0.25s ease;
}

#infoDiv {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: transparent;
  color: white;
  pointer-events: none;
  user-select: none;
  z-index: 999;
}

#infoDiv-2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: transparent;
  color: white;
  pointer-events: none;
  user-select: none;
  z-index: 999;
}